body {
    margin-left: 50px;
    width: 960px;
    height: 1660px;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header div {
    background-color: #49D4FF;
    color: black;
    font-family: JejuHallasan;
    font-size: 20px;
    text-align: center;
    width: 960px;
    height: 130px;
}

header div h1 {
    padding-top: 10px;
}

header nav {
    background-color: #00B2FF;
    width: 960px;
    height: 70px;
}

header nav a{
    font-weight: bolder;
    font-style: italic;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: JejuHallasan;
    color: black;
    width: 100px;
    height: 50px;
    margin: 10px 40px;
}

.pres a {
    padding: 0px;
    background-color: #8FDDFF;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

header nav a:hover{
    font-size: 24px;
    text-align: center;
    width: 120px;
    height: 60px;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    font-family: inter;
}

section {
    text-align: center;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.ukaz {
    text-align: center;
    margin: 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 385px;
    background-color: #96DCFF;
    border-radius: 30px;
}